atomicwrites==1.4.0
attrs==20.2.0
click==7.1.2
coverage==5.3
Flask==1.1.2
Flask-Testing==0.8.0
importlib-metadata==2.0.0
itsdangerous==2.0.0a1
Jinja2==3.0.0a1
MarkupSafe==2.0.0a1
more-itertools==8.5.0
packaging==20.4
pluggy==1.0.0.dev0
py==1.9.0
pyparsing==3.0.0a2
pytest==6.1.1
selenium==4.0.0a6.post2
six==1.15.0
urllib3==1.25.10
wcwidth==0.2.5
Werkzeug==1.0.1
zipp==3.3.0
